body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:lavender;
}

.exercise {
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 10px;
    background-color: white;
}

.main__container{
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow:column;
}


.main__container img{
    width: 125px;
    text-align: center;
    align-items: center;
}


.main__container  h1{
    font-size: xxx-large;
    font-weight: bold;
    color:black;
}
