body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(10, 44, 10);
}

.main__container{
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.main__container img{
    width: 125px;
    text-align: center;
    align-items: center;
}

.main__container button{
    width: 150px;
    height: 75px;
    font-size: x-large;
    background-color: blanchedalmond;
    color:darkred;
    border-radius: 40px;
}

.main__container button:hover{
   background-color: darkred;
   color: blanchedalmond;
}

.main__container  h1{
    font-size: xxx-large;
    font-weight: bold;
    color:blanchedalmond;
}

.main__container  h2{
    font-size: xx-large;
    font-weight: bold;
    color:darkred;
}

.main__container label{
    font-size: x-large;    
}

.main__container input{
    width: 60px;
    font-size: x-large;
    font-weight: bold;
}

.suma__container{
    width: 50%;
    padding: 15px;
    display: block;
    background-color:blanchedalmond;
    border-radius: 40px;
}
